<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Apurv- @ViewData["Title"]</title>
</head>
<body>
    <div>Apurv</div>

    <nav>
        <a href="/Home/Index">Home</a>
        <a href="/Home/Name">Name</a>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
 